/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  height: 100vh;
}
h1 {
  color: #ffffff;
  font-size: 32px;
}
.p1 {
  color: #ffffff;
  font-size: 14px;
}
.text {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}
.letters-count {
  background-color: #ffffff;
  color: #1d976c;
  padding: 5px;
  border-radius: 7px;
  margin-top: 20px;
  width: 200px;
  font-weight: bold;
  text-align: center;
}
.img {
  width: 500px;
}
